body {
  text-align: center;
  background-color:rgb(74, 73, 73);
}
#container {
  margin: 50px 30%;
  padding: 1rem;
  background-color:#686666;
}

@media(max-width:1080px) {
  #container {
      margin: 47px 28%;
  }
}

@media(max-width:780px) {
  #container {
    margin: 45px 25%;
  }
}

@media(max-width:667px) {
  #container {
    margin: 42px 21%;
  }
}

@media(max-width:380px) {
  #container {
    margin: 37px ;
  }
}
